<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Software Engineering{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    </head>
    <body>
        <nav>
            <div id="navbar">
                <div id="navbar-elements">
                    <div id="brand-title">Software Engineering</div>
                    <div id="toggle-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navbar-links">
                    <ul>
                        <li><a href="{{ url_for('home') }}" {% if active == 'home' %}class="active"{% endif %}>Home</a></li>
                        <li><a href="{{ url_for('my_journey') }}" {% if active == 'my-journey' %}class="active"{% endif %}>Journey</a></li>
                        <li><a href="{{ url_for('pathways') }}" {% if active == 'pathways' %}class="active"{% endif %}>Pathways</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
